/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.deps/
.obj/
include/
src/BackEnd/parser_asml/asml
src/BackEnd/parser_asml/champ_de_mine/
src/BackEnd/parser_asml/foo.asml
src/BackEnd/parser_asml/src/.backup/
archive/
src/FrontEnd/Typechecking
